@import 'variables';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&family=Oswald:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
    margin-bottom: -48px;
    padding-bottom: -48px;
}
.container {
    width: 1100px;
    height: auto;
    background-color: #ffffff;
    // display: flex;
    margin-bottom: -25px;
    // padding: 0;
    // margin-left: 12px;
}

a {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.navbar {
    background-color: #fa320a;
    padding: 0;
    margin: 0 auto;
    height: 100px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; // các mục linh hoạt sẽ nằm trên một dòng
    // justify-content: space-around;
}

.brand img {
    height: 50px;
    padding-left: 28px;
}

.input-group {
    width: 320px;
    height: 35px;
    margin-right: 53px;
}

.search-text {
    border-radius: 30px;
    border: 1px solid #ffffff;
    background-color: #961e06;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 385px;
    height: 35px;
}

.search-input input::placeholder {
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.256px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin-right: 10px;
    margin-top: -15px;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
}

.nav-links li button {
    color: white;
    background: none;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

// .nav-links li a {
//     display: inline; /* Đặt các phần tử <li> thành inline */
// }

nav {
    width: 500px;
    margin-right: -15px;
    margin-top: 5px;
}

rt-header-nav-item {
    padding: 15px 17px;
}

rt-header-nav-item .unset {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    justify-content: flex-end;
}

// --------------------------------------------------------
// !! TRENDING BAR !!
.trending-bar {
    background-color: #7b7b7b; /* Chọn màu xám mà bạn muốn */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 13px;
    width: 1100px;
    margin-left: -15px;
    margin: auto;
}

/* Đảm bảo các phần tử li nằm trên cùng một hàng ngang */
.trending-bar__list {
    color: white;
    display: flex; /* Sử dụng flexbox để xếp hàng ngang */
    flex-wrap: nowrap; /* Ngăn các phần tử quá nhiều sẽ xuống dòng */
    overflow-x: auto; /* Hiển thị thanh cuộn nếu nội dung vượt quá khung */
    list-style: none; /* Loại bỏ dấu chấm đầu dòng của danh sách */
}

.trending-bar__header {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: rgb(255, 230, 0);
    margin: 0 10px;
}

/* Thiết lập kiểu dáng cho các phần tử li */
.trending-bar__link {
    margin: 2px 5px;
    white-space: nowrap; /* Ngăn các phần tử quá nhiều sẽ xuống dòng */
}

// --------------------------------------------------------
// !! SPOTLIGHT !!
#editorial-spotlight {
    margin-left: -12px;
    margin-top: -16px;
    height: auto;
    width: 1100px;
}

#carouselExampleCaptions {
    width: 549px;
    height: 310px;
    display: inline-block;
}

.d-block {
    height: 310px;
}

#editorial-spotlight {
    display: inline-block; /* Hiển thị trên cùng một hàng */
}

#spotlight1 {
    width: 274.5px !important;
    height: 310px;
    margin-left: -1px;
}

#spotlight1 img {
    width: 272px;
    height: 310px;
    margin-top: -301px;
}

#spotlight2 img {
    width: 272px;
    height: 310px;
    margin-top: -301px;
    margin-right: -465px;
}
// ----------------------------------------------------
// <MAIN CONTENT>
// -- HOME --
.poster-list-header::before {
    content: "";
    display: block;
    width: 2px;
    height: 24px;
    background-color: #fa320a;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left; /* Để ô chữ nhật nằm bên trái của h2 */
    content: "";
  }

.poster-list-header h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 18.5px;
    margin-top: 30px;
}

.header-warp {
    margin-top: 20px;
}

.card-img {
    border-radius:7px;
    height: 270px;
}
.card-film-body {
    display: flex;
    align-items: flex-start;
}

.card-film-body a {
    text-decoration: none;
    margin: 15px 0;
  }

.card-title {
    color: rgb(92, 92, 92);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
}

// -- SHOW --
.movie-layout__sidebar {
    width: 313px;
    height: auto;
    float: left;
    border: 1px solid rgb(92, 92, 92);
    display: block;
  }
  
.movie-layout__main {
    width: 750px;
    height: auto;
    margin-left: 325px; /* Khoảng cách giữa .movie-layout__sidebar và .movie-layout__main */
    background-color: aqua;
  }

.movie-layout__main iframe {
    width: 750px;
    height: 417px;
    border-radius: 10px;
}
// ----------------------------------------------------
// <FOOTER>
footer {
    background-color: #2a2c32;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 1100px;
    margin-top: 0px !important;
}

footer div {
    background-color: #2a2c32;
}

footer div a img {
    height: 35px !important;
}

footer div p {
    margin-top: 10px;
    padding-left: 28px;
    color: white;
}

ul.list-unstyled li a {
    text-decoration: none;
    color: #ffffff
}

footer div h4 {
    color: white;
}