@import 'variables';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&family=Oswald:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

.container {
    width: 1100px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    // padding: 0;
    // margin-left: 12px;
}

a {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.256px;
    margin: 0;
}

.text-bold {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.256px;
    margin: 0;
}

// ---------------------------------------------------
// <HEADER>
.navbar {
    background-color: #fa320a;
    padding: 0;
    margin: 0 auto;
    height: 100px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; // các mục linh hoạt sẽ nằm trên một dòng
    // justify-content: space-around;
}

.brand img {
    height: 50px;
    padding-left: 28px;
}

.input-group {
    width: 320px;
    height: 35px;
    margin-right: 53px;
}

.search-text {
    border-radius: 30px;
    border: 1px solid #ffffff;
    background-color: #961e06;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 385px;
    height: 35px;
}

.search-input input::placeholder {
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.256px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin-right: 10px;
    margin-top: -15px;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
}

.nav-links li button {
    color: white;
    background: none;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

// .nav-links li a {
//     display: inline; /* Đặt các phần tử <li> thành inline */
// }

nav {
    width: 500px;
    margin-right: -15px;
    margin-top: 5px;
}

rt-header-nav-item {
    padding: 15px 17px;
}

rt-header-nav-item .unset {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    justify-content: flex-end;
}

// --
// -- TRENDING BAR --
.trending-bar {
    background-color: #7b7b7b; /* Chọn màu xám mà bạn muốn */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 13px;
    width: 1100px;
    margin-left: -15px;
    margin: auto;
}

.trending-list-wrap ul {
    margin-bottom: 0;
}

.trending-bar__list {
    color: white;
    display: flex; /* Sử dụng flexbox để xếp hàng ngang */
    flex-wrap: nowrap; /* Ngăn các phần tử quá nhiều sẽ xuống dòng */
    overflow-x: auto; /* Hiển thị thanh cuộn nếu nội dung vượt quá khung */
    list-style: none; /* Loại bỏ dấu chấm đầu dòng của danh sách */
}

.trending-bar__header {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: rgb(255, 230, 0);
    margin: 0 10px;
}


.trending-bar__link {
    margin: 2px 5px;
    white-space: nowrap; /* Ngăn các phần tử quá nhiều sẽ xuống dòng */
}

// --
// -- SPOTLIGHT --
#editorial-spotlight {
    margin-left: -12px;
    margin-top: 0;
    height: auto;
    width: 1100px;
}

#carouselExampleCaptions {
    width: 549px;
    height: 310px;
    display: inline-block;
}

.d-block {
    height: 310px;
}

#editorial-spotlight {
    display: inline-block; /* Hiển thị trên cùng một hàng */
}

#spotlight1 {
    width: 274.5px !important;
    height: 310px;
    margin-left: -1px;
}

#spotlight1 img {
    width: 272px;
    height: 310px;
    margin-top: -301px;
}

#spotlight2 img {
    width: 272px;
    height: 310px;
    margin-top: -301px;
    margin-right: -465px;
}

// ----------------------------------------------------
// <MAIN CONTENT>
// -- HOME --
.list-header::before {
    content: "";
    display: block;
    width: 3px;
    height: 21px;
    background-color: #fa320a;
    margin-right: 7px;
    margin-bottom: -14px;
    float: left; /* Để ô chữ nhật nằm bên trái của h2 */
    content: "";
  }

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 18.5px;
    margin-top: 30px;
}

.header-warp {
    margin-top: 20px;
}

#poster-main {
    max-width: 1100px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    margin-left: -9px;
}

.card-img {
    border-radius:7px;
    height: 270px;
}
.card-film-body {
    display: flex;
    align-items: flex-start;
}

.card-film-body a {
    text-decoration: none;
    margin: 15px 0;
  }

.card-title {
    color: rgb(92, 92, 92);
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
}

// -- SHOW --
#movie-overview {
    margin: 15px 0;
}

.movie-layout__sidebar {
    width: 313px;
    height: auto;
    float: left;
    border: 1px solid rgb(199, 199, 199);
    background-color: #ebebeb;
    display: flex; //lúc update có thể bỏ phần này
    align-items: center; //lúc update có thể bỏ phần này
    flex-direction: column; //lúc update có thể bỏ phần này
  }

.movie-layout__trailer {
    width: 750px;
    height: auto;
    margin-left: 325px;
    display: flex;
    flex-direction: column;
  }

.movie-layout__trailer iframe {
    width: 750px;
    height: 417px;
    border-radius: 6px;
}

.thumbnail-scoreboard-wrap {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.thumbnail {
    width: auto;
}

.thumbnail img {
    width: 165px;
    height: 222px;
    border-radius: 5px;
}

.score-board {
    background-color: #ebebeb;
    width: 570px;
    height: 222px;
    border-radius: 5px;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.score-board h1 {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 25px;
}

.score-board p {
    font-size: 13px;
}

.movie-info-body {
    margin: 20px 0 30px 0;
}

// ---------------------------------------------------
// -- CREATE ---
.list-header {
    order: -1;
}



// ----------------------------------------------------
// <FOOTER>
footer {
    background-color: #2a2c32;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 1100px;
}

footer div {
    background-color: #2a2c32;
}

footer div a img {
    height: 35px !important;
}

footer div p {
    margin-top: 10px;
    padding-left: 28px;
    color: white;
}

ul.list-unstyled li a {
    text-decoration: none;
    color: #ffffff
}

footer div h4 {
    color: white;
}