<div class="container">
    <section id="movie-overview">
        <aside id="sidebar" class="movie-layout__sidebar">
        
        </aside>
        
        <div class="movie-layout__main">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hEJnMQG9ev8?si=weYIDoUqFcj8FnjV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>
</div>

