<nav class="navbar">
    <a class="brand" href="http://localhost:3000" ><img src="/img/logo.png" alt="" ></a>
    <div class="input-group">
        <div class="search-input">
            {{!-- <i class="bi bi-search"></i> --}}
            <input class="search-text" type="text" placeholder="        Search movies, TV, actors, more...">
        </div>
    </div>
    <div class="column">
        <ul class="nav-links">
            <li>
                <a href="https://www.rottentomatoes.com/about#whatisthetomatometer">What's the Tomatometer®?</a>
            </li>
            <li>
                <a href="https://www.rottentomatoes.com/critics">Critics</a>
            </li>
            <li>
                <button>LOGIN/SIGNUP</button>
            </li>
        </ul>
        <nav>
          <rt-header-nav-item>
            <a class="unset" href="#">MOVIES</a>
          </rt-header-nav-item>
          <rt-header-nav-item>
            <a class="unset" href="#">TV SHOWS</a>
          </rt-header-nav-item>
          <rt-header-nav-item>
            <a class="unset" href="#">MOVIE TRIVIA</a>
          </rt-header-nav-item>
          <rt-header-nav-item>
            <a class="unset" href="#">NEWS</a>
          </rt-header-nav-item>
          <rt-header-nav-item>
            <a class="unset" href="#">SHOWTIMES</a>
          </rt-header-nav-item>
        </nav>
    </div>
    </div>
</nav>

<section class="trending-bar">
    <div class="trending-list-wrap">
        <ul class="list-inline trending-bar__list">
            <li class="trending-bar__header">TRENDING ON RT</li>
            <li class="trending-bar__link"> RT25 AMC Screening Series </li>
            <li class="trending-bar__link"> No One Will Save You </li>
            <li class="trending-bar__link"> The Creator </li>
            <li class="trending-bar__link"> The Continental  </li>
            <li class="trending-bar__link"> Expend4bles </li>
        </ul>
    </div>
    {{!-- <div class="trending-bar__link">
        <social-media-icons theme="light" size="14"></social-media-icons>
    </div> --}}
</section>

